{% macro build(pager) %}
    {% if pager.getPagesCount() > 1 %}
        <div data-pager="{{ pager.getOptions()|json_encode }}"></div>
        <noscript>
            <ul>
                {% for page in range(1, pager.getPagesCount()) %}
                    <li><a href="{{ pager.getUrl(page) }}">{{ page }}</a></li>
                {% endfor %}
            </ul>
        </noscript>
    {% endif %}
{% endmacro %}
